<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyle Reynolds - Full Stack Engineer</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body>
    <img src="../static/hotmix_logo.png" alt="HotMiX Logo">
    <h1>KYLE REYNOLDS</h1>
            <p>I am a Full Stack Software Engineer</p>
            <p>I am a self taught full stack software engineer with 5 years experience in the software industry.</p>
            <h2>About Me</h2>
            <p>Hi, I'm Kyle Reynolds, a dynamic Back End Software Engineer based in Bozeman, MT. I specialize in Python, data analysis, and software testing. I'm currently enhancing the tech landscape at Bridger Photonics, focusing on Python programming, database management, and software quality assurance.</p>
            <p>With a passion for open-source development, I have a diverse project portfolio on GitHub and significant contributions to Python-based web applications. My expertise extends to automated and manual software testing, ensuring high-quality software solutions.</p>
            <p>My technical proficiency spans across:</p>
            <ul>
                <li>Programming Languages: Python, JavaScript, Golang</li>
                <li>Web Development Frameworks: Flask, Django, FastAPI, React, Vue, HTMX</li>
                <li>API Development: GraphQL</li>
                <li>Software Development Tools: Git, Docker</li>
                <li>Database Management: CockroachDB, MongoDB, Postgres</li>
            </ul>
            <p>Apart from my professional endeavors, I've created tools like HoTMiXer, a command-line tool for web project scaffolding, and contributed to projects like magic-animate and spiderfoot. My educational background in Liberal Studies from Montana State University complements my technical skills, allowing me to approach software development with a unique perspective.</p>
            <p>Kyle Reynolds</p>
            <p>I can be reached on the following platforms. <a href="https://www.linkedin.com/in/kyle-reynolds">LinkedIn</a>, <a href="https://github.com/kyle-reynolds">Github</a> or, <a href="https://twitter.com/kyle-reynolds">Twitter</a></p>
    <div class="link-container">
        <a href="https://htmx.org/docs/" target="_blank">Learn more about HTMX</a>
        <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Learn more about Flask</a>
    </div>
</body>
</html>